body{
    background-color: aqua;
}

.div1{
    display: flex;
    background-color: darkgreen;
    align-items: center;
}

.div1 img{
    padding: 40px;
}

.pr{
    margin-top: 100px;
}

footer{
    background-color: bisque;
    margin-top: 100px;
}

.f1{
    display: flex;
}

